body {
    background-image: url("https://thumbs.dreamstime.com/b/beautiful-yellow-summer-sunburst-commercial-background-vector-marketing-backdrop-200194726.jpg")
}

h5 {
    width: 100%;
    color:green;
    font-size: 30px;
    text-align: center;
}

h1 {
    color:red;
    text-align:center;
    font-size: 70px;
}

p {
    text-align:center;
    font-size:16px;
}

.tupet-image {
    text-align:center;
    display: block;
    size:80%;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

#tupet-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: .5in;
    background: rgb(37, 238, 37);
    font-weight:800;
    font-size:28px

}